<% layout('layouts/boilerplate') %>

    <body>
        <h1>List of images</h1>
        <div>
            <a href="/images/new">Add a new image</a>
        </div>
        <ul>
            <% for(let image of images){ %>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/images/<%=image._id%>">
                                        <%=image.title%>
                                    </a>
                                </h5>
                                <p class="card-text">
                                    <%= image.property %>
                                </p>
                                <a href="images/<%= image._id %>" class="btn btn-primary">View
                                    <%= image.title %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </ul>
    </body>